section .new-tweet {
  margin: 0 auto;
}

#tweet-text {
  border:0;
  border-bottom: 4px solid rgb(84, 81, 73, 0.8);
  background-color: transparent;
  /* to remove the white background of textarea */
  font-size: 18px;
  font-weight: bold;
  height: 40px;
}

#send-tweet {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

#send-tweet label {
  font-size: 20px;
  font-weight: bold;
}

.tweet-button-words-left {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.counter {
  font-family: 'Bungee', cursive;
  font-size: 22px;
}

.tweet-button-words-left button {
  font-family: 'Bungee', cursive;
  background-color: #4056a1;
  color: #ffffff;
  padding: 3px 10px;
  font-size: 18px;
  border: 0;
}

.tweet-button-words-left button:focus {
  border: 2px solid lightskyblue;
  border-radius: 5px;
}

.new-tweet {
  margin-top: 30px;
}

.new-tweet #errorBox {
  border: 4px solid red;
  padding: 8px 15px;
  color:red;
  margin-bottom: 20px;
  font-size: 20px;
  display: none;
}

